apiVersion: apps/v1
kind: Deployment
metadata:
  name: tictac-app
  namespace: webapps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tictac
  template:
    metadata:
      labels:
        app: tictac
    spec:
      imagePullSecrets:
      - name: ecr-secret
      containers:
      - name: tictac
        image: 191080270307.dkr.ecr.eu-north-1.amazonaws.com/tictac:e0ce986
        imagePullPolicy: Always
        ports:
        - containerPort: 80
